<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container">

        <h2>Welcome! Please log in.</h2>
        <a href="/auth/facebook"><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t39.2365-6/16344632_403881753293914_7761668832074137600_n.png?_nc_cat=107&oh=bb40de6262bddbedefd3cc47da4a435e&oe=5C5E7DED"></a>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>