<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <p>Message to be sent:<strong><%= message %></strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p>Message was sent to <strong><%= user.displayName %></p>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="/broadcast/broadcast">Send Another Message</a>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
